<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Wicket Takers</title>
    <link rel="stylesheet" href="/stylesheets/topWicketTakers.css">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<div class="hero">
    <a class="back-link" href="/">Back to home</a>
    <h1 class="title">Top Wicket Takers</h1>
    <div class="stats-container">
        <% allBowlers.forEach(function(bowler, index){  %>
            
            <div class="stat-card">
                <!-- Circular number (positioned in top-left) -->
                <div class="circle"><%= index + 1 %></div> <!-- Display index + 1 -->

                <!-- Stats container -->
                <div class="bowler-info">
                    <h3 class="bowler-name"><%= bowler.name %></h3>
                    <div class="bowler-stats">
                        <span>Overs: <%= bowler.overs %></span>
                        <span>Maidens: <%= bowler.maidens %></span>
                        <span>Runs: <%= bowler.runs %></span>
                        <span>Wickets: <%= bowler.wickets %></span>
                    </div>
                </div>
            </div>

        <% }) %>
    </div>
</div>
</body>
</html>